* {
    margin: 0;
    padding: 0;
}

:root {
    --mainwidth: 640px;
    --lightcolor: white;
    --darkcolor: gray;
}
  
body{
    background-color: silver;
}
h1{
    text-align: center;
    margin: 20px auto;
    color: var(--darkcolor);
}

h2{
    text-align: center;
    margin: 20px auto;
    color: var(--darkcolor);
}

h3{
    text-align: center;
    margin: 20px;
    color: var(--darkcolor);
}

#container {
    width: var(--mainwidth);
    height: 440px;
    background-color: var(--lightcolor);
    margin: 10px auto 0;
}

div{
    margin-left: 20px;
}

.buttonsContainer{
    justify-content: space-around;
    margin-bottom: 10px;
    padding: 10px;
}

button{
    background-color: white; 
    border: 2px solid gray;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 120px;
    height: 60px;
    margin-left: 20px;
    margin-top: 15px;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 0 2px grey;
}

button:hover {
    background-color: grey;

}

button:active{
    box-shadow: 0 0 0 grey, inset 4px 4px 4px grey;
    transform: translate(6px, 6px);
}

.send{
    background-color: white;
}

footer {
    width: var(--mainwidth);
    text-align: center;
    margin: 0 auto 20px;
    height: 30px;
    background-color: var(--darkcolor);
    font-weight: bold;
    color: var(--lightcolor);
    padding-top: 10px;
}